<!DOCTYPE html>
<html>
<head>
	<title>WebAuthn Registration</title>
</head>
<body>
	<script>
		const options = {{.}};
		console.log(options);
		const challenge = options.publicKey.challenge.replace(/-/g, "+").replace(/_/g, "/");
		const userId = options.publicKey.user.id;

		try {
			options.publicKey.challenge = Uint8Array.from(atob(challenge), c => c.charCodeAt(0));
			options.publicKey.user.id = Uint8Array.from(atob(userId), c => c.charCodeAt(0));
		} catch (e) {
			console.error('Error decoding base64 string:', e);
		}

		navigator.credentials.create({
			publicKey: options.publicKey
		}).then((credential) => {
			console.log(credential);

			payload = {
				"credential": credential,
				"username": options.publicKey.user.name,
				"displayname": options.publicKey.user.displayName
			};

			// Send the credential to the server for verification
			fetch('/webauthn/register/verification', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify(payload)
			}).then(response => {
				if (response.ok) {
					alert('Registration successful!');
				} else {
					alert('Registration failed.');
				}
			});
		}).catch((error) => {
			console.error('Error during registration:', error);
		});
	</script>
</body>
</html>
